.add-cart {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: #000;
  font-weight: bold;
  display: none;
}

.add-cart img {
  background-color: #000;
  border-radius: 10px;
  padding: 5px;
}

.actions-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.decrease-quantity {
  border: 1px solid #000;
  padding: 5px 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.increase-quantity {
  border: 1px solid #000;
  padding: 5px 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.number-quantity {
  font-size: 18px;
}

.card-new-products:hover .add-cart {
  display: flex;
}
